@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	max-height: 99999px;
}
img {
	vertical-align: bottom;
  display: block;
  /*輪切り縦ならベ時に主にAndroidで画像同士の間に隙間ができるのを避ける設定*/
  /*inline要素にしたい場合は適宜クラス設定してください*/

}

body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	line-height: 1.3;
    font-size: 1rem;


}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body,
.fgot{
  font-family:"ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,"游ゴシック Medium" , "Yu Gothic Medium" , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "メイリオ" , Meiryo , "Meiryo UI" , Avenir , "Open Sans" ,  Helvetica,"Helvetica Neue", Arial , Verdana , Roboto ,"ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  font-size: 0;
  line-height: 0;
}
.fmin {
	font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

/*
	SP向けテキストサイズ自動調整避け#2
	文字が指定したサイズを無視して拡大していたら適宜セレクタを加える
*/
span,
div,
p{
	/*max-height: 100%; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clearfix */
.clearfix {
	width:100%;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

/* util */

/*画像縦並べで隙間が開いた時の調整用*/

.mtNeg{
	margin-top: -1px;
}