@charset "utf-8";

/* CSS Document */

/*rem設定用*/
html{
    font-size: 15px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#wrapper p {
  margin: 0;
  padding: 0;
}

#wrapper a {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

#wrapper a:hover {
  opacity: 0.7;
}

#wrapper {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
#wrapper img {
  max-width: 100%;
}
.header {
  max-width: 640px;
  margin: 0 auto;
}
#wrapper .mainCont {
  text-align: center;
}
#wrapper .sec_inner {
}

#wrapper .TaC_img {
  display: block;
  text-align: center;
  max-width: 100%;
}
#wrapper .btn_list {
  overflow: hidden;
  padding: 6% 6.25% 7%6.25%;
  /* margin-bottom: 10%; */
}
#wrapper .btn_list li {
  float: left;
  width: 50%;
}
#wrapper .btn_list li:first-child {
  padding-right: 2%;
}
#wrapper .btn_list li:last-child {
  padding-left: 2%;
}
#wrapper .comment {
  margin-bottom: 3%;
  padding: 0 6.25%;
  font-size: 12px;
  line-height: 1.4;
  text-align: left;
}
#wrapper .btn_result {
  display: block;
  width: 90%;
  margin: 0 auto 8% auto;
  padding-top: 20%;
  background-image: url(../img/btn.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#wrapper .btn_result_on {
  background-image: url(../img/btn_on.png);
  cursor: pointer;
}
#wrapper .copy {
  padding: 10px 0;
  background: #d1f2fb;
  color: #594940;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.4;
}

#wrapper .mb0 {
  margin-bottom: 0 !important;
}
#wrapper .mb5 {
  margin-bottom: 5% !important;
}



.radio-input {

  display: none;
}

.input_img {
  display: block;
  width: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;

  padding-top: 63%;
}



/*round1*/
.y01 {
  background-image: url(../img/btn_yes.png);
}
input[type="radio"]:checked +.y01 {
  background-image: url(../img/btn_yes_on.png);
}

.n01 {
  background-image: url(../img/btn_no.png);
}

input[type="radio"]:checked +.n01 {
  background-image: url(../img/btn_no_on.png);
}
